.lorem{
    color: gray;
    margin-left: 50px;
}

.markazul{
    color: white;
    background-color: darkslateblue;
} 

.markverde{
    color:white;
    background-color: darkolivegreen;
}