
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    width: 500px;
    height: 500px;
    background-color: grey;
    flex-direction: row;
}

div>div{ 
    background-color: beige;
    border: 1px solid black;

}
