* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu{
    height: 100px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items:center;
    margin-left: 20px;
    margin-right: 20px;

}

.menu>li{
    height: fit-content;
}

a{
    text-decoration: none;
    color:black
}
