* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

section{
    padding: 10px;
    border: 1px solid grey;
    width: 50%;
}

img{
    width: 500px;
}

figcaption{
    font-size: small;
}

h2{
    margin: 15px 0px;
}

.item5{
    order:-5;
    width: 100%;
}
