/* * {   
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    } */

.header {
    background-color: purple;
    position: fixed;
}
.container {
    position: absolute;
    clear: both;
}